
    <thead>
    <tr>
        <th class="center">
            <label class="position-relative">
                <input type="checkbox" class="ace"/>
                <span class="lbl"></span>
            </label>
        </th>
        <th>餐厅名称</th>
        <th>餐厅类型</th>
        <th class="hidden-480">接道信息</th>
        <th>

            餐厅简介
        </th>
        <th class="hidden-480">
            <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
            餐厅电话号码
        </th>
        <th class="hidden-480">评分</th>
    </tr>
    </thead>

    <tbody>


    {% for ps in data %}
        <tr>
            <td class="center">
                <label class="position-relative">
                    <input type="checkbox" class="ace"/>
                    <span class="lbl"></span>
                </label>
            </td>

            <td>
                <a href={{ ps.web }} > {{ ps.name }}</a>
            </td>
            <td>{{ ps.type }}</td>
            <td class="hidden-480">{{ ps.add }}</td>
            <td>{{ ps.info }}</td>

            <td class="hidden-480">
                <span class="label label-sm label-warning">{{ ps.phone }}</span>
            </td>
            <td>
                {{ ps.star }}
            </td>
        </tr>
    {% endfor %}


    </tbody>
