
    <thead>
    <tr>
        <th class="center">
            <label class="position-relative">
                <input type="checkbox" class="ace"/>
                <span class="lbl"></span>
            </label>
        </th>
        <th>Restaurant Name</th>
        <th>Type</th>
        <th class="hidden-480">loaction Info</th>
        <th>

            Description
        </th>
        <th class="hidden-480">
            <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
            Telephone Number
        </th>
        <th class="hidden-480">scolor</th>
    </tr>
    </thead>

    <tbody>


    {% for ps in data %}
        <tr>
            <td class="center">
                <label class="position-relative">
                    <input type="checkbox" class="ace"/>
                    <span class="lbl"></span>
                </label>
            </td>

            <td>
                <a href={{ ps.web }} > {{ ps.name }}</a>
            </td>
            <td>{{ ps.type }}</td>
            <td class="hidden-480">  <a href={{ ps.map }} target="view_window" > {{ ps.add }} </a></td>
            <td>{{ ps.info }}</td>

            <td class="hidden-480">
                <span class="label label-sm label-warning">{{ ps.phone }}</span>
            </td>
            <td>
                {{ ps.star }}
            </td>
        </tr>
    {% endfor %}


    </tbody>
