<thead>
<tr>
    <th>Restaurant Name</th>
    <th>Type</th>
    <th>location Information</th>

    <th>
        <i class="ace-icon fa fa-clock-o bigger-110"></i>
        Tel Number
    </th>
</tr>
</thead>

<tbody>
    {% for ps in data %}
    <tr>
        <td>
            <a href={{ ps.web }} >{{ ps.name }}</a>
        </td>
        <td>{{ ps.type }}</td>
        <td><a href={{ ps.map }} target="view_window" > {{ ps.add }} </a> </td>
        <td>{{ ps.phone }}</td>
    </tr>
    {% endfor %}

</tbody>